body {
    margin: 0 50px;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.main {
    margin-top: 50px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactPic img {
    border-radius: 7px;
}
